.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    display: flex;;
}

.logo-img {
    width: 50px;
}

.heading {
    font-size: 24px;
    text-align: center;
    flex-grow: 1;
    color: #007bff;
}

.blue-icon {
    color: #ffffff;
    font-size: 30px;
}

.user-details {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.user-details button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 4px;
}

.user-details button:hover {
    background-color: #0056b3;
}